/*
	========================================
	DITINGGAL RABI WEDDING INVITATION THEME
	========================================
	
	@author			: @_TemplateNinja
	@version		: v1.3
	@date-create	: 02/26/2013
	@last-update	: 03/19/2015
	@file-name		: style.css

*/
/*
	========================================
	TABLE OF CONTENT
	========================================
	
	[1. GLOBAL STYLE]
	[2. NAVBAR]
	[3. HOME]
	[4. ABOUT]
	[5. CEREMONY]
	[6. PHOTOS]
	[7. STORY]
	[8. CONTACT]
	[9. COPYRIGHT]

*/
/*
	==================
	[1. GLOBAL STYLE]
	==================
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow-x: hidden;
  scrollbar-face-color: #a4c956;
}
@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }
}
input,
button,
select,
textarea {
  font-family: 'EB Garamond', serif;
}
a {
  color: #a4c956;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
::-moz-selection {
  background-color: #a4c956;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background-color: #a4c956;
  color: #fff;
  text-shadow: none;
}
::selection {
  background-color: #a4c956;
  color: #fff;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  background-color: #a4c956;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: #ddd;
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  line-height: 1.42857143em;
  font-weight: 400;
  color: #555;
  background-color: #ffffff;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  border: 1px solid #ccc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.15s ease-in-out box-shadow 0.15s ease-in-out ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out box-shadow 0.15s ease-in-out ease-in-out;
  -ms-transition: border-color 0.15s ease-in-out box-shadow 0.15s ease-in-out ease-in-out;
  -o-transition: border-color 0.15s ease-in-out box-shadow 0.15s ease-in-out ease-in-out;
  transition: border-color 0.15s ease-in-out box-shadow 0.15s ease-in-out ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -ms-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  border-color: #fff;
  color: #a4c956;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
  -ms-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
  -o-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.no-resize {
  resize: none !important;
}
.btn.btn-secondary {
  background-color: #ffffff;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  color: #999;
  border: 1px solid #bbb;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  background-color: #aacd62;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  border: 1px solid #8cb339;
  color: #fff;
  text-shadow: 0 -1px 0 #999999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*
	==============
	[2. NAVBAR]
	==============
*/
.navbar-default {
  min-height: 65px;
  background-color: transparent;
  background-image: url('../img/bg.png');
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -ms-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: top center;
  background-repeat: repeat;
  background-attachment: initial;
  border-bottom: none;
}
@media (max-width: 767px) {
  .navbar-default {
    border-bottom: 1px solid #ddd;
  }
}
.navbar-default .navbar-brand {
  min-height: 65px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #a4c956;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.35);
  background-color: #a4c956;
}
.navbar-default .navbar-nav {
  display: table;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    width: 100%;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.navbar-default .navbar-nav > li > a {
  position: relative;
  padding-top: 22px;
  padding-right: 24px;
  padding-bottom: 22px;
  padding-left: 24px;
  color: #999;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    display: block;
    padding: 12px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
  }
}
.navbar-default .navbar-nav > li > a:hover {
  color: #a4c956 !important;
  background-color: transparent !important;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
  -ms-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
  -o-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #999;
  box-shadow: none;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #a4c956 !important;
  background-color: transparent !important;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
  -ms-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
  -o-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
}
.navbar-default .navbar-toggle {
  margin-top: 15px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #a4c956;
}

/*
	============
	[3. HOME]
	============
*/
#home {
  position: relative;
  width: 100%;
  padding-top: 120px;
  padding-right: 0;
  padding-bottom: 60px;
  padding-left: 0;
  background-color: transparent;
  background-image: url('../img/img01.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
@media (max-width: 600px) {
  #home {
    padding-top: 100px;
  }
}
#home * {
  z-index: 3;
}
#home::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
#home h1 {
  padding-bottom: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 85px;
  line-height: 87px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
#home h2 {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 120px;
  line-height: 122px;
  font-weight: 900;
  color: #a4c956;
  text-shadow: 8px 7px 0 rgba(164, 201, 86, 0.35);
  text-align: center;
}
@media (max-width: 600px) {
  #home h2 {
    padding-top: 0;
    font-family: 'EB Garamond', serif;
    font-size: 60px;
    line-height: 68px;
    font-weight: 400;
  }
}
#home h3 {
  position: relative;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.25);
}
#home h3::before {
  content: "";
  position: absolute;
  z-index: 3px;
  left: 20%;
  top: 50%;
  height: 2px;
  width: 20%;
  margin-top: 0;
  background-color: #ffffff;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
@media (max-width: 600px) {
  #home h3::before {
    content: "";
    left: 12%;
  }
}
#home h3::after {
  content: "";
  position: absolute;
  z-index: 3px;
  right: 20%;
  top: 50%;
  height: 2px;
  width: 20%;
  margin-top: 0;
  background-color: #ffffff;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
@media (max-width: 600px) {
  #home h3::after {
    content: "";
    right: 12%;
  }
}
#home h3 span::before {
  content: "";
  position: absolute;
  z-index: 2px;
  left: 20%;
  top: 50%;
  height: 2px;
  width: 20%;
  margin-top: 0.5px;
  margin-left: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
#home h3 span::after {
  content: "";
  position: absolute;
  z-index: 2px;
  right: 20%;
  top: 50%;
  height: 2px;
  width: 20%;
  margin-top: 0.5px;
  margin-left: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
#home h4 {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 8px;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.4);
}
#home h5 {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
#home h5 span {
  background-color: #272727;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
  padding: 12px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-transform: capitalize;
}

/*
	==============
	[4. ABOUT]
	==============
*/
#about {
  position: relative;
  width: 100%;
  padding-top: 120px;
  padding-right: 0;
  padding-bottom: 60px;
  padding-left: 0;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #888;
  background-color: transparent;
  background-image: url('../img/bg.png');
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -ms-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: initial;
}
@media (max-width: 600px) {
  #about {
    padding-top: 100px;
  }
}
#about h2,
#about p {
  text-align: center;
}
#about h2 {
  padding: 20px 0 0;
  margin-top: 0;
  margin-bottom: 30px;
  color: #666;
  font-family: 'Dancing Script', cursive;
  font-size: 85px;
  line-height: 85px;
  font-weight: 700;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.35);
  text-align: center;
}
#about blockquote {
  text-align: left;
  color: #aaa;
}
#about .about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.line {
  position: absolute;
  z-index: 4;
  top: -26px;
  left: 0;
  width: 100%;
  height: 24px;
  background-color: #a4c956;
}
.line::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #b9d57d;
}
.line::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #b9d57d;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.about-img-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  display: block;
  background-color: transparent;
  background-image: url('../img/img05.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: initial;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

/*
	================
	[5. CEREMONY]
	================
*/
#ceremony {
  position: relative;
  width: 100%;
  padding-top: 120px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
  background-color: transparent;
  background-image: url('../img/img04.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
@media (max-width: 600px) {
  #ceremony {
    padding-top: 100px;
  }
}
#ceremony h1 {
  padding-bottom: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 85px;
  line-height: 87px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
#ceremony h2 {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 120px;
  line-height: 122px;
  font-weight: 900;
  color: #a4c956;
  text-shadow: 8px 7px 0 rgba(164, 201, 86, 0.35);
  text-align: center;
}
#ceremony h3 {
  position: relative;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.25);
}
#ceremony h3::before {
  content: "";
  position: absolute;
  z-index: 3px;
  left: 20%;
  top: 50%;
  height: 2px;
  width: 20%;
  margin-top: 0;
  background-color: #ffffff;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
@media (max-width: 600px) {
  #ceremony h3::before {
    content: "";
    left: 12%;
  }
}
#ceremony h3::after {
  content: "";
  position: absolute;
  z-index: 3px;
  right: 20%;
  top: 50%;
  height: 2px;
  width: 20%;
  margin-top: 0;
  background-color: #ffffff;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
@media (max-width: 600px) {
  #ceremony h3::after {
    content: "";
    right: 12%;
  }
}
#ceremony h3 span::before {
  content: "";
  position: absolute;
  z-index: 2px;
  left: 20%;
  top: 50%;
  height: 2px;
  width: 20%;
  margin-top: 0.5px;
  margin-left: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
#ceremony h4 {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 8px;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.4);
}
#ceremony h5 {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
#ceremony h5 span {
  background-color: #272727;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
  padding: 12px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-transform: capitalize;
}
#ceremony * {
  z-index: 3;
}
#ceremony::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

/*
	==============
	[6. PHOTOS]
	==============
*/
#photos {
  position: relative;
  width: 100%;
  padding-top: 120px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #888;
  background-color: transparent;
  background-image: url('../img/bg.png');
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -ms-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: initial;
}
#photos h2,
#photos p {
  text-align: center;
}
#photos blockquote {
  text-align: left;
  color: #aaa;
}
#photos h2 {
  padding: 20px 0 20px;
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #444;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  text-align: center;
  filter: dropshadow(color=rgba(255, 255, 255, 0.5), offx=1, offy=1);
}
#photos h4 {
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}
#photos .img img {
  display: block;
  margin: 0 auto;
}
#photos .photo-gallery {
  width: 100%;
  height: 200px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background-color: #aecf69;
  overflow: hidden;
}
#photos .photo-gallery img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  #photos .photo-gallery {
    width: 100%;
    height: 300px;
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  #photos .photo-gallery {
    width: 100%;
    height: 200px;
    margin-top: 30px;
  }
}
#photos #wedding-photo .carousel-control {
  background-color: transparent;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: initial;
  background-repeat: initial;
  background-attachment: initial;
}
@media (max-width: 767px) {
  #photos #wedding-photo .carousel-control {
    color: #fff;
    text-shadow: none;
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  #photos #wedding-photo .carousel-control span,
  #photos #wedding-photo .carousel-control i {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 5;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 0;
  }
  #photos #wedding-photo .carousel-control.right {
    right: 0;
    left: auto;
  }
  #photos #wedding-photo .carousel-control:hover,
  #photos #wedding-photo .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    background: #a4c956 !important;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  #photos #wedding-photo .carousel-control.left,
  #photos #wedding-photo .carousel-control.right {
    background-image: none;
    background-color: #212834;
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
  }
  #photos #wedding-photo .carousel-control.left {
    left: auto;
    right: 0;
    margin-right: 40px;
  }
  #photos #wedding-photo .carousel-control.right {
    right: 0;
    left: auto;
  }
}

/*
	================
	[7. STORY]
	================
*/
#story {
  position: relative;
  width: 100%;
  padding-top: 120px;
  padding-right: 0;
  padding-bottom: 180px;
  padding-left: 0;
  background: #efefef;
}
@media (max-width: 600px) {
  #story {
    padding-top: 100px;
  }
}
#story h2 {
  padding-bottom: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 85px;
  line-height: 87px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.content {
  *zoom: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  background-color: transparent;
  background-image: url('../img/bg_timeline.png');
  -webkit-background-size: 2px auto;
  -moz-background-size: 2px auto;
  -ms-background-size: 2px auto;
  -o-background-size: 2px auto;
  background-size: 2px auto;
  background-position: center top;
  background-repeat: repeat-y;
  background-attachment: initial;
}
.content::before,
.content::after {
  display: table;
  content: "";
  line-height: 0;
}
.content::after {
  content: '';
  clear: both;
}
.content ul {
  *zoom: 1;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 2em 0 6em 0;
}
@media (max-width: 767px) {
  .content ul {
    padding: 1em 2em 6em 2em;
  }
}
.content ul::before,
.content ul::after {
  content: '';
  display: table;
  line-height: 0;
}
.content ul::after {
  content: '';
  clear: both;
}
.content-avatar {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 7px 8px;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  background: #a4c956;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.content-avatar .img-avatar {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: transparent;
  background-image: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow: hidden;
}
.content-avatar::after,
.content-avatar::before {
  top: 99%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.content-avatar::after {
  content: '';
  border-top-color: #a4c956;
  border-width: 11px;
  left: 50%;
  margin-left: -10.5px;
}
.content-avatar::before {
  content: '';
  border-bottom-color: rgba(0, 0, 0, 0.01);
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
}
.content-item {
  position: relative;
  right: 30px;
  float: left;
  width: 42%;
  margin-top: -80px;
  margin-left: 8%;
  clear: both;
  padding: 2%;
  font-family: 'EB Garamond', serif;
  color: #888;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
}
@media (max-width: 767px) {
  .content-item {
    left: auto;
    right: auto;
    float: none;
    width: 80%;
    margin: 80px auto 0;
  }
}
.content-item::before,
.content-item::after {
  content: '';
  display: table;
  line-height: 0;
}
.content-item::after {
  content: '';
  clear: both;
}
.content-item::after,
.content-item::before {
  top: 50%;
  right: -19px;
  position: absolute;
  display: block;
  height: 32px;
  width: 30px;
  margin: -15px 0 0;
  font-family: 'FontAwesome';
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  pointer-events: none;
}
@media (max-width: 767px) {
  .content-item::after,
  .content-item::before {
    top: -20px;
    right: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -16px;
  }
}
.content-item::before {
  font-family: 'FontAwesome';
  content: '\F0DA';
  font-style: normal;
  speak: none;
  display: inline-block;
  color: #fff;
}
@media (max-width: 767px) {
  .content-item::before {
    font-family: 'FontAwesome';
    content: '\f0d8';
    display: inline-block;
    font-style: normal;
    speak: none;
  }
}
.content-item::after {
  font-family: 'FontAwesome';
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  content: '\f15c';
  display: inline-block;
  right: -46.5px;
  width: 30px;
  height: 30px;
  font-style: normal;
  padding: 3px 1px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 3px #a4c956;
  -moz-box-shadow: 0 0 0 3px #a4c956;
  -ms-box-shadow: 0 0 0 3px #a4c956;
  -o-box-shadow: 0 0 0 3px #a4c956;
  box-shadow: 0 0 0 3px #a4c956;
  background-color: white;
  speak: none;
}
@media (max-width: 767px) {
  .content-item::after {
    font-family: 'FontAwesome';
    content: '\f040';
    top: -50px;
    display: inline-block;
    font-style: normal;
    speak: none;
  }
}
.content-item:nth-child(even) {
  float: right;
  left: 30px;
  right: 0;
  margin-right: 8%;
  margin-left: 0;
}
@media (max-width: 767px) {
  .content-item:nth-child(even) {
    left: auto;
    right: auto;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  .content-item:nth-child(even) .content-quote::after {
    font-family: 'FontAwesome';
    content: '\f10e';
  }
  .content-item:nth-child(even) .content-text::after {
    font-family: 'FontAwesome';
    content: '\f15c';
  }
  .content-item:nth-child(even) .content-photo::after {
    font-family: 'FontAwesome';
    content: '\f03e';
  }
  .content-item:nth-child(even) .content-chat::after {
    font-family: 'FontAwesome';
    content: '\f0e6';
  }
  .content-item:nth-child(even) .content-audio::after {
    font-family: 'FontAwesome';
    content: '\f025';
  }
  .content-item:nth-child(even) .content-video::after {
    font-family: 'FontAwesome';
    content: '\f008';
  }
}
.content-item:nth-child(even)::after,
.content-item:nth-child(even)::before {
  left: -20px;
}
@media (max-width: 767px) {
  .content-item:nth-child(even)::after,
  .content-item:nth-child(even)::before {
    top: -20px;
    right: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -16px;
  }
}
.content-item:nth-child(even)::before {
  font-family: 'FontAwesome';
  content: '\F0D9';
  font-style: normal;
  speak: none;
  display: inline-block;
}
@media (max-width: 767px) {
  .content-item:nth-child(even)::before {
    font-family: 'FontAwesome';
    content: '\f0d8';
    display: inline-block;
    font-style: normal;
    speak: none;
  }
}
.content-item:nth-child(even)::after {
  left: -47px;
}
@media (max-width: 767px) {
  .content-item:nth-child(even)::after {
    font-family: 'FontAwesome';
    content: '\f040';
    top: -50px;
    display: inline-block;
    font-style: normal;
    speak: none;
  }
}
.content-item h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
  line-height: 46px;
  font-weight: 700;
  color: #a4c956;
}
.content-item h3 a {
  color: #a4c956;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  -ms-transition: color, 0.2s;
  -o-transition: color, 0.2s;
  transition: color, 0.2s;
}
.content-item h3 a:hover {
  color: #59A3C0;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  -ms-transition: color, 0.2s;
  -o-transition: color, 0.2s;
  transition: color, 0.2s;
}
.content-item .text {
  font-size: 18px;
  line-height: 26px;
}
.content-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .content-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.content-item .caption {
  margin-top: 20px;
  font-size: 17px;
  line-height: 24px;
  color: #666;
}
.content-item time {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #bbb;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.content-item i[class="fa-"] {
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}
.content-item .chat {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  padding: 10px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.content-item .odd {
  background: #a4c956;
  color: #fff;
}
.content-item .even {
  background: #eaeaea;
  color: #888;
}
.content-item:first-child {
  margin-top: 0;
}
@media (max-width: 767px) {
  .content .content-avatar {
    padding-left: 7px;
    padding-right: 8px;
    margin-bottom: 80px;
  }
  .content .content-item {
    width: 96%;
  }
}
.content-quote {
  color: #fff;
}
.content-quote blockquote {
  position: relative;
  padding: 20px 25px 40px;
  margin-bottom: 0;
  border-color: transparent;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background-color: #a4c956;
}
.content-quote blockquote::before {
  font-family: 'FontAwesome';
  font-size: 30px;
  line-height: normal;
  font-weight: 400;
  content: '\f10d';
}
.content-quote blockquote,
.content-quote blockquote small {
  color: #fff;
  border-color: #fff;
}
.content-quote::after {
  font-family: 'FontAwesome';
  content: '\f10e';
  font-style: normal;
  speak: none;
  display: inline-block;
  color: #a4c956 !important;
}
@media (max-width: 767px) {
  .content-quote::after {
    font-family: 'FontAwesome';
    content: '\f10e';
  }
}
.content-quote time {
  color: #efefef;
}
.content-text::after {
  font-family: 'FontAwesome';
  content: '\f15c';
  font-style: normal;
  speak: none;
  display: inline-block;
  color: #a4c956 !important;
}
@media (max-width: 767px) {
  .content-text::after {
    font-family: 'FontAwesome';
    content: '\f15c';
  }
}
.content-photo img {
  margin-bottom: 0;
}
.content-photo::after {
  font-family: 'FontAwesome';
  content: '\f03e';
  font-style: normal;
  speak: none;
  display: inline-block;
  color: #a4c956 !important;
}
@media (max-width: 767px) {
  .content-photo::after {
    font-family: 'FontAwesome';
    content: '\f03e';
  }
}
.content-chat::after {
  font-family: 'FontAwesome';
  content: '\f0e6';
  font-style: normal;
  speak: none;
  display: inline-block;
  color: #a4c956 !important;
}
@media (max-width: 767px) {
  .content-chat::after {
    font-family: 'FontAwesome';
    content: '\f0e6';
  }
}
.content-audio::after {
  font-family: 'FontAwesome';
  content: '\f025';
  font-style: normal;
  speak: none;
  display: inline-block;
  color: #369 !important;
}
@media (max-width: 767px) {
  .content-audio::after {
    font-family: 'FontAwesome';
    content: '\f025';
  }
}
.content-video::after {
  font-family: 'FontAwesome';
  content: '\f008';
  font-style: normal;
  speak: none;
  display: inline-block;
  color: #369 !important;
}
@media (max-width: 767px) {
  .content-video::after {
    font-family: 'FontAwesome';
    content: '\f008';
  }
}
.content-audio iframe,
.content-video iframe {
  width: 100% !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.content-photo,
.content-text,
.content-chat,
.content-audio,
.content-video {
  padding-bottom: 60px;
}
.content-photo time,
.content-text time,
.content-chat time,
.content-audio time,
.content-video time {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.content-end .content-avatar {
  margin-bottom: -90px;
}
@media (max-width: 767px) {
  .content-end .content-avatar {
    margin-bottom: -120px;
  }
}
.content-end .content-avatar::after,
.content-end .content-avatar::before {
  content: " ";
  position: absolute;
  top: -20px;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
}
.content-end .content-avatar::after {
  content: '';
  left: 50%;
  margin-left: -10.5px;
  border-bottom-color: #a4c956;
  border-width: 11px;
}
.content-end .content-avatar::before {
  content: '';
  left: 50%;
  margin-left: -12px;
  border-bottom-color: rgba(0, 0, 0, 0.01);
  border-width: 12px;
}
@media (max-width: 767px) {
  .content-end .btn {
    display: block;
  }
}

/*
	================
	[8. CONTACT]
	================
*/
#contact {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-top: 120px;
  padding-right: 0;
  padding-bottom: 60px;
  padding-left: 0;
  background-color: transparent;
  background-image: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
}
@media (max-width: 600px) {
  #contact {
    padding-top: 100px;
  }
}
#contact h2 {
  padding-bottom: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 85px;
  line-height: 87px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
#contact h5 {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
#contact h5 span {
  background-color: #272727;
  background-image: none;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -ms-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: initial;
  padding: 12px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-transform: capitalize;
}
#contact .contact-container {
  position: relative;
  z-index: 5;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
}
#contact h2,
#contact h3,
#contact h4,
#contact h5 {
  position: relative;
  z-index: 5;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#contact .form-control {
  margin-bottom: 4.5px;
}
#contact .form-control:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
#maps {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  min-height: 200px;
  height: 100%;
}
#maps img {
  max-width: none;
}

/*
	================
	[9. COPYRIGHT]
	================
*/
#copyright {
  position: relative;
  width: 100%;
  padding: 80px 0 10px;
  background-color: transparent;
  background-image: url('../img/bg.png');
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -ms-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: top center;
  background-repeat: repeat;
  background-attachment: initial;
}
#copyright h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 38px;
  line-height: 40px;
  font-weight: 400;
  color: #a4c956;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
#copyright h3 {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #999;
  text-transform: capitalize;
  letter-spacing: 8px;
}
#copyright p {
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #999;
  text-transform: uppercase;
}
#copyright .social-icon {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
#copyright .social-icon > li > a {
  position: relative;
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 100%;
  background-color: #a4c956;
}
#copyright .social-icon > li > a > .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 55px;
  height: 55px;
  margin-left: -11px;
  margin-top: -13px;
  color: #fff;
  font-family: 'FontAwesome';
  font-size: 28px;
  line-height: normal;
  font-weight: 400;
}
#copyright .social-icon > li > .icon-twitter:hover {
  background: #4099FF;
}
#copyright .social-icon > li > .icon-facebook:hover {
  background: #4467AD;
}
#copyright .social-icon > li > .icon-google:hover {
  background: #FF4B4B;
}
#copyright .social-icon > li > .icon-instagram:hover {
  background: #6e99b2;
}
